.text-center{
    text-align: center;
    font-size: 3rem;
    color: rgb(33, 242, 246);
}

.bg-red{
    background: red;
}

.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
} 
.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}